data/wsdl/RecipientMigrationService_rev1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RecipientMigrationService" targetNamespace="http://wholesalesoperator/wsdl/RecipientMigrationService.wsdl" xmlns:ns="http://wholesalesoperator/wsdl/RecipientMigrationService.wsdl" xmlns:ns0="http://wholesalesoperator/Schemas/RecipientMigrationServiceSchema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://wholesalesoperator/Schemas/RecipientMigrationServiceSchema.xsd" elementFormDefault="qualified" targetNamespace="http://wholesalesoperator/Schemas/RecipientMigrationServiceSchema.xsd">
            <xsd:element name="Rec_MigrationSetup_Req" type="tns:Rec_MigrationSetup_Req_Type" />
            <xsd:complexType name="Rec_MigrationSetup_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							   <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOME_REFERENTE_TECNICO_OLO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							   <xsd:minLength value="1"/>
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="COGNOME_REFERENTE_TECNICO_OLO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="TELEFONO_REFERENTE_TECNICO_OLO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="EMAIL_REFERENTE_TECNICO_OLO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TELEFONO_REFERENTE_OLO_ONFIELD_NOTECH">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="COMPETENZA_QUARTO_REFERENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOME_CLIENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="COGNOME_CLIENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="70" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="RECAPITO_TELEFONICO_CLIENTE_1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="RECAPITO_TELEFONICO_CLIENTE_2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CONTATTO_VIRTUALE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MODALITA_CONTATTO_VIRTUALE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="DATA_PREVISTA_ATTIVAZIONE" type="xsd:date" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ID_BUILDING">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="150" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SCALA_PALAZZINA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="21" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATI_MIGRAZIONE" type="tns:Rec_MigrationSetup_Dati_Migrazione_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="NUMERAZIONI" type="tns:Rec_MigrationSetup_Numerazioni_Type" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="SERVIZIO_FTTH" type="tns:Rec_MigrationSetup_Servizio_FTTH_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZI_OPZIONALI" type="tns:Rec_MigrationSetup_ServiziOpzionali_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Rec_MigrationSetup_Dati_Migrazione_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_SESSIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="COR">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="12" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="COW">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="COS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Rec_MigrationSetup_Numerazioni_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="10" name="DN">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Rec_MigrationSetup_Servizio_FTTH_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="Rec_MigrationSetup_ServiziOpzionali_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:element name="Rec_MigrationSetup_Resp" type="tns:Rec_MigrationSetup_Resp_Type" />
            <xsd:complexType name="Rec_MigrationSetup_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Rec_StatusUpdateMig_Req" type="tns:Rec_StatusUpdateMig_Req_Type" />
            <xsd:complexType name="Rec_StatusUpdateMig_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="AZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOME_CLIENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="COGNOME_CLIENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="70" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="RECAPITO_TELEFONICO_CLIENTE_1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="RECAPITO_TELEFONICO_CLIENTE_2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="DATA_PREVISTA_ATTIVAZIONE" type="xsd:date" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ORARIO_APPUNTAMENTO" type="xsd:time" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZIO_FTTH" type="tns:Rec_StatusUpdateMig_Servizio_FTTH_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZI_OPZIONALI" type="tns:Rec_StatusUpdateMig_ServiziOpzionali_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Rec_StatusUpdateMig_Servizio_FTTH_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="Rec_StatusUpdateMig_ServiziOpzionali_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:element name="Rec_StatusUpdateMig_Resp" type="tns:Rec_StatusUpdateMig_Resp_Type" />
            <xsd:complexType name="Rec_StatusUpdateMig_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							     <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Rec_RescheduleMig_Req" type="tns:Rec_RescheduleMig_Req_Type" />
            <xsd:complexType name="Rec_RescheduleMig_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_PREVISTA_ATTIVAZIONE" type="xsd:date" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="ORARIO_APPUNTAMENTO" type="xsd:time" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOME_CLIENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="COGNOME_CLIENTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="70" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="RECAPITO_TELEFONICO_CLIENTE_1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="RECAPITO_TELEFONICO_CLIENTE_2">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZIO_FTTH" type="tns:Rec_RescheduleMig_Servizio_FTTH_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZI_OPZIONALI" type="tns:Rec_RescheduleMig_ServiziOpzionali_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Rec_RescheduleMig_Servizio_FTTH_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="Rec_RescheduleMig_ServiziOpzionali_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:element name="Rec_RescheduleMig_Resp" type="tns:Rec_RescheduleMig_Resp_Type" />
            <xsd:complexType name="Rec_RescheduleMig_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rec_MigrationSetup_Request">
        <wsdl:part name="in" element="ns0:Rec_MigrationSetup_Req" />
    </wsdl:message>
    <wsdl:message name="Rec_MigrationSetup_Response">
        <wsdl:part name="out" element="ns0:Rec_MigrationSetup_Resp" />
    </wsdl:message>
    <wsdl:message name="Rec_StatusUpdateMig_Request">
        <wsdl:part name="in" element="ns0:Rec_StatusUpdateMig_Req" />
    </wsdl:message>
    <wsdl:message name="Rec_StatusUpdateMig_Response">
        <wsdl:part name="out" element="ns0:Rec_StatusUpdateMig_Resp" />
    </wsdl:message>
    <wsdl:message name="Rec_RescheduleMig_Request">
        <wsdl:part name="in" element="ns0:Rec_RescheduleMig_Req" />
    </wsdl:message>
    <wsdl:message name="Rec_RescheduleMig_Response">
        <wsdl:part name="out" element="ns0:Rec_RescheduleMig_Resp" />
    </wsdl:message>
    <wsdl:portType name="RecipientMigrationService">
        <wsdl:operation name="Rec_MigrationSetup">
            <wsdl:input name="MigrationSetup_Request" message="ns:Rec_MigrationSetup_Request" />
            <wsdl:output name="MigrationSetup_Response" message="ns:Rec_MigrationSetup_Response" />
        </wsdl:operation>
        <wsdl:operation name="Rec_StatusUpdateMig">
            <wsdl:input name="StatusUpdateMig_Request" message="ns:Rec_StatusUpdateMig_Request" />
            <wsdl:output name="StatusUpdateMig_Response" message="ns:Rec_StatusUpdateMig_Response" />
        </wsdl:operation>
        <wsdl:operation name="Rec_RescheduleMig">
            <wsdl:input name="RescheduleMig_Request" message="ns:Rec_RescheduleMig_Request" />
            <wsdl:output name="RescheduleMig_Response" message="ns:Rec_RescheduleMig_Response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecipientMigrationServiceBinding" type="ns:RecipientMigrationService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="Rec_MigrationSetup">
            <soap:operation soapAction="Rec_MigrationSetup" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Rec_StatusUpdateMig">
            <soap:operation soapAction="Rec_StatusUpdateMig" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Rec_RescheduleMig">
            <soap:operation soapAction="Rec_RescheduleMig" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecipientMigrationService">
        <wsdl:port name="RecipientMigrationServiceSOAP" binding="ns:RecipientMigrationServiceBinding">
            <soap:address location="http://localhost:9785/Services/Migration/RecipientService/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>