data/wsdl/RecipientMigrationNotify_rev1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RecipientMigrationNotify_OLO" targetNamespace="http://recipientoperator/wsdl/RecipientMigrationNotify_OLO.wsdl" xmlns:ns="http://recipientoperator/wsdl/RecipientMigrationNotify_OLO.wsdl" xmlns:ns0="http://recipientoperator/Schemas/RecipientMigrationNotify_OLOSchema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://recipientoperator/Schemas/RecipientMigrationNotify_OLOSchema.xsd" elementFormDefault="qualified" targetNamespace="http://recipientoperator/Schemas/RecipientMigrationNotify_OLOSchema.xsd">
            <xsd:element name="WHS_StatusUpdateMig_Req" type="tns:WHS_StatusUpdateMig_Req_Type" />
            <xsd:complexType name="WHS_StatusUpdateMig_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							 <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="STATO_ORDINE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                                <xsd:enumeration value="4" />
                                <xsd:enumeration value="5" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="DATA_PREVISTA_ATTIVAZIONE" type="xsd:date" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ORARIO_APPUNTAMENTO" type="xsd:time" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ID_BUILDING">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="150" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="FLAG_DESOSPENSIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="SI" />
                                <xsd:enumeration value="NO" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZIO_FTTH" type="tns:WHS_StatusUpdateMig_Req_SERVIZIO_FTTH_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZI_OPZIONALI" type="tns:WHS_StatusUpdateMig_Req_SERVIZI_OPZIONALI_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WHS_StatusUpdateMig_Req_SERVIZIO_FTTH_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="WHS_StatusUpdateMig_Req_SERVIZI_OPZIONALI_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:element name="WHS_StatusUpdateMig_Resp" type="tns:WHS_StatusUpdateMig_Resp_Type" />
            <xsd:complexType name="WHS_StatusUpdateMig_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_RescheduleMig_Req" type="tns:WHS_RescheduleMig_Req_Type" />
            <xsd:complexType name="WHS_RescheduleMig_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_PREVISTA_ATTIVAZIONE" type="xsd:date" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ORARIO_APPUNTAMENTO" type="xsd:time" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZIO_FTTH" type="tns:WHS_RescheduleMig_Req_SERVIZIO_FTTH_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZI_OPZIONALI" type="tns:WHS_RescheduleMig_Req_SERVIZI_OPZIONALI_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WHS_RescheduleMig_Req_SERVIZIO_FTTH_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="WHS_RescheduleMig_Req_SERVIZI_OPZIONALI_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:element name="WHS_RescheduleMig_Resp" type="tns:WHS_RescheduleMig_Resp_Type" />
            <xsd:complexType name="WHS_RescheduleMig_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_CompletionOrderMig_Req" type="tns:WHS_CompletionOrderMig_Req_Type" />
            <xsd:complexType name="WHS_CompletionOrderMig_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							     <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="STATO_ORDINE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="COR">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="12" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="COS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_ESPLETAMENTO_ORDINE" type="xsd:date" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ORARIO_ESPLETAMENTO_ORDINE" type="xsd:time" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZIO_FTTH" type="tns:WHS_CompletionOrderMig_Req_SERVIZIO_FTTH_Type" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="SERVIZI_OPZIONALI" type="tns:WHS_CompletionOrderMig_Req_SERVIZI_OPZIONALI_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WHS_CompletionOrderMig_Req_SERVIZIO_FTTH_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="WHS_CompletionOrderMig_Req_SERVIZI_OPZIONALI_Type">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:element name="WHS_CompletionOrderMig_Resp" type="tns:WHS_CompletionOrderMig_Resp_Type" />
            <xsd:complexType name="WHS_CompletionOrderMig_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_Event_Req" type="tns:WHS_Event_Req_Type" />
            <xsd:complexType name="WHS_Event_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							     <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_AVVIO_POLICY_CONTATTO" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="TIPOLOGIA_EVENTO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_Event_Resp" type="tns:WHS_Event_Resp_Type" />
            <xsd:complexType name="WHS_Event_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="WHS_StatusUpdateMig_Request">
        <wsdl:part name="in" element="ns0:WHS_StatusUpdateMig_Req" />
    </wsdl:message>
    <wsdl:message name="WHS_StatusUpdateMig_Response">
        <wsdl:part name="out" element="ns0:WHS_StatusUpdateMig_Resp" />
    </wsdl:message>
    <wsdl:message name="WHS_RescheduleMig_Request">
        <wsdl:part name="in" element="ns0:WHS_RescheduleMig_Req" />
    </wsdl:message>
    <wsdl:message name="WHS_RescheduleMig_Response">
        <wsdl:part name="out" element="ns0:WHS_RescheduleMig_Resp" />
    </wsdl:message>
    <wsdl:message name="WHS_CompletionOrderMig_Request">
        <wsdl:part name="in" element="ns0:WHS_CompletionOrderMig_Req" />
    </wsdl:message>
    <wsdl:message name="WHS_CompletionOrderMig_Response">
        <wsdl:part name="out" element="ns0:WHS_CompletionOrderMig_Resp" />
    </wsdl:message>
    <wsdl:message name="WHS_Event_Request">
        <wsdl:part name="in" element="ns0:WHS_Event_Req" />
    </wsdl:message>
    <wsdl:message name="WHS_Event_Response">
        <wsdl:part name="out" element="ns0:WHS_Event_Resp" />
    </wsdl:message>
    <wsdl:portType name="RecipientMigrationNotify_OLO">
        <wsdl:operation name="WHS_StatusUpdateMig">
            <wsdl:input name="StatusUpdateMig_Request" message="ns:WHS_StatusUpdateMig_Request" />
            <wsdl:output name="StatusUpdateMig_Response" message="ns:WHS_StatusUpdateMig_Response" />
        </wsdl:operation>
        <wsdl:operation name="WHS_RescheduleMig">
            <wsdl:input name="RescheduleMig_Request" message="ns:WHS_RescheduleMig_Request" />
            <wsdl:output name="RescheduleMig_Response" message="ns:WHS_RescheduleMig_Response" />
        </wsdl:operation>
        <wsdl:operation name="WHS_CompletionOrderMig">
            <wsdl:input name="CompletionOrderMig_Request" message="ns:WHS_CompletionOrderMig_Request" />
            <wsdl:output name="CompletionOrderMig_Response" message="ns:WHS_CompletionOrderMig_Response" />
        </wsdl:operation>
        <wsdl:operation name="WHS_Event">
            <wsdl:input name="Event_Request" message="ns:WHS_Event_Request" />
            <wsdl:output name="Event_Response" message="ns:WHS_Event_Response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecipientMigrationNotify_OLOBinding" type="ns:RecipientMigrationNotify_OLO">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="WHS_StatusUpdateMig">
            <soap:operation soapAction="RecipientMigrationNotify_OLO/WHS_StatusUpdateMig" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WHS_RescheduleMig">
            <soap:operation soapAction="RecipientMigrationNotify_OLO/WHS_RescheduleMig" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WHS_CompletionOrderMig">
            <soap:operation soapAction="RecipientMigrationNotify_OLO/WHS_CompletionOrderMig" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WHS_Event">
            <soap:operation soapAction="RecipientMigrationNotify_OLO/WHS_Event" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecipientMigrationNotify_OLO">
        <wsdl:port name="RecipientMigrationNotify_OLOSOAP" binding="ns:RecipientMigrationNotify_OLOBinding">
            <soap:address location="http://localhost/Services/Migration/RecipientMigrationNotify_OLO" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>