olo2olo/wsdl/DonatingMigrationNotify_rev1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="DonatingMigrationNotify_OLO" targetNamespace="http://donatingoperator/wsdl/DonatingMigrationNotify_OLO.wsdl" xmlns:ns="http://donatingoperator/wsdl/DonatingMigrationNotify_OLO.wsdl" xmlns:ns0="http://donatingoperator/Schemas/DonatingMigrationNotify_OLOSchema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://donatingoperator/Schemas/DonatingMigrationNotify_OLOSchema.xsd" elementFormDefault="qualified" targetNamespace="http://donatingoperator/Schemas/DonatingMigrationNotify_OLOSchema.xsd">
            <xsd:element name="WHS_Check_sessione_Req" type="tns:WHS_Check_sessione_Req_Type" />
            <xsd:complexType name="WHS_Check_sessione_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_SESSIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="50" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="COR">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="12" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="NUMERAZIONI" type="tns:Numerazioni_Type" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Numerazioni_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="10" name="DN">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="20" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_Check_sessione_Resp" type="tns:WHS_Check_sessione_Resp_Type" />
            <xsd:complexType name="WHS_Check_sessione_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_Msg_Donating_Req" type="tns:WHS_Msg_Donating_Req_Type" />
            <xsd:complexType name="WHS_Msg_Donating_Req_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_REC">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							   <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_OPERATORE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							   <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="CODICE_ORDINE_WHS">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							   <xsd:minLength value="1"/>
                                <xsd:maxLength value="18" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="DATA_NOTIFICA" type="xsd:dateTime" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="COR">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="12" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="EVENTO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="DATA" type="xsd:date" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="ORA" type="xsd:time" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="NOTE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WHS_Msg_Donating_Resp" type="tns:WHS_Msg_Donating_Resp_Type" />
            <xsd:complexType name="WHS_Msg_Donating_Resp_Type">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ID_NOTIFICA">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="100" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="ESITO">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="0" />
                                <xsd:enumeration value="1" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CODICE_MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							   <xsd:minLength value="1"/>
                                <xsd:maxLength value="3" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="MOTIVAZIONE">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
							    <xsd:minLength value="1"/>
                                <xsd:maxLength value="255" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="WHS_Check_sessione_Request">
        <wsdl:part name="in" element="ns0:WHS_Check_sessione_Req" />
    </wsdl:message>
    <wsdl:message name="WHS_Check_sessione_Response">
        <wsdl:part name="out" element="ns0:WHS_Check_sessione_Resp" />
    </wsdl:message>
    <wsdl:message name="WHS_Msg_Donating_Request">
        <wsdl:part name="in" element="ns0:WHS_Msg_Donating_Req" />
    </wsdl:message>
    <wsdl:message name="WHS_Msg_Donating_Response">
        <wsdl:part name="out" element="ns0:WHS_Msg_Donating_Resp" />
    </wsdl:message>
    <wsdl:portType name="DonatingMigrationNotify_OLO">
        <wsdl:operation name="WHS_Check_sessione">
            <wsdl:input name="Check_sessione_Request" message="ns:WHS_Check_sessione_Request" />
            <wsdl:output name="Check_sessione_Response" message="ns:WHS_Check_sessione_Response" />
        </wsdl:operation>
        <wsdl:operation name="WHS_Msg_Donating">
            <wsdl:input name="Msg_Donating_Request" message="ns:WHS_Msg_Donating_Request" />
            <wsdl:output name="Msg_Donating_Response" message="ns:WHS_Msg_Donating_Response" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DonatingMigrationNotify_OLOBinding" type="ns:DonatingMigrationNotify_OLO">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="WHS_Check_sessione">
            <soap:operation soapAction="DonatingMigrationNotify_OLO/WHS_Check_sessione" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WHS_Msg_Donating">
            <soap:operation soapAction="DonatingMigrationNotify_OLO/WHS_Msg_Donating" style="document" />
            <wsdl:input>
                <soap:body parts="in" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DonatingMigrationNotify_OLO">
        <wsdl:port name="DonatingMigrationNotify_OLOSOAP" binding="ns:DonatingMigrationNotify_OLOBinding">
            <soap:address location="http://localhost/Services/Migration/DonatingMigrationNotify_OLO" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>