olo2olo/wsdl/O2OFibra.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://olo2olo.npfibra.it/migrazione/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="olo2olo" targetNamespace="http://olo2olo.npfibra.it/migrazione/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://olo2olo.npfibra.it/migrazione/">
			<xsd:element name="Ack" type="tns:Ack"/>
			<xsd:element name="OLO_NPRequest" type="tns:OLO_NPRequest"/>
			<xsd:element name="OLO_NPNotification" type="tns:OLO_NPNotification"/>
			
			<xsd:complexType name="OLO_NPRequest">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="codiceOperatoreRec" type="tns:codOperatore" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="codiceOrdineWHS" type="tns:codOrdWHS" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="idNotifica" type="tns:idNotifica" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="dataNotifica" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="tipoNotifica" type="tns:tipoNotifica" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="routingNumber" type="tns:routingNumber" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="numerazioni" type="tns:numerazioni" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="note" type="tns:note" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="OLO_NPNotification">
				<xsd:sequence>
					<xsd:element name="codiceOperatoreDonor" type="tns:codOperatore" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="codiceOrdineWHS" type="tns:codOrdWHS" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="idNotifica" type="tns:idNotifica" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="dataNotifica" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="tipoNotifica" type="tns:tipoNotifica" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="numerazioniScartate" type="tns:numerazioni" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="codiceMotivazione" type="tns:codMotivazione" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="motivazione" type="tns:note" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="note" type="tns:note" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Ack">
				<xsd:sequence>
					<xsd:element name="idNotifica" type="tns:idNotifica" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="esito" type="tns:esito" maxOccurs="1" minOccurs="1"/>
					<xsd:element name="codiceMotivazione" type="tns:codMotivazione" maxOccurs="1" minOccurs="0"/>
					<xsd:element name="motivazione" type="tns:note" maxOccurs="1" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="numerazioni">
				<xsd:sequence>
				  <xsd:element name="dn" type="tns:dn" minOccurs="1" maxOccurs="10"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="codOperatore">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="codOrdWHS">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="18"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="idNotifica">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="tipoNotifica">
				<xsd:restriction base="xsd:string">
				  <xsd:enumeration value="01"/>
				  <xsd:enumeration value="02"/>
				  <xsd:enumeration value="03"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="routingNumber">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="18"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="dn">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="note">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="codMotivazione">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="esito">
				<xsd:restriction base="xsd:string">
				  <xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OLO_NPRequest">
		<wsdl:part element="tns:OLO_NPRequest" name="Request"/>
	</wsdl:message>
	<wsdl:message name="OLO_NPResponse">
		<wsdl:part element="tns:Ack" name="Response"/>
	</wsdl:message>
	<wsdl:message name="OLO_NPNotification">
		<wsdl:part name="Request" element="tns:OLO_NPNotification"/>
	</wsdl:message>
	<wsdl:message name="OLO_NPNotificationResponse">
		<wsdl:part name="Response" element="tns:Ack"/>
	</wsdl:message>
	<wsdl:portType name="O2ONPFibra">
		<wsdl:operation name="OLO_NPRequestService">
			<wsdl:input message="tns:OLO_NPRequest"/>
			<wsdl:output message="tns:OLO_NPResponse"/>
		</wsdl:operation>
		<wsdl:operation name="OLO_NPNotificationService">
			<wsdl:input message="tns:OLO_NPNotification"/>
			<wsdl:output message="tns:OLO_NPNotificationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="O2ONPFibraSOAP" type="tns:O2ONPFibra">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OLO_NPRequestService">
			<soap:operation soapAction="http://olo2olo.npfibra.it/migrazione/OLO_NPRequestService"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OLO_NPNotificationService">
			<soap:operation soapAction="http://olo2olo.npfibra.it/migrazione/OLO_NPNotificationService"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="O2ONPFibra">
		<wsdl:port binding="tns:O2ONPFibraSOAP" name="O2ONPFibra">
			<soap:address location="http://olo2olo.npfibra.it/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
